<div class="row bg-light mt-3 pb-0">
    <div class="col-md-4">
        <h5>Encuéntranos</h5>
        <p>Av estación No. 5 CN 22 en Cali Colombia</p>
    </div>
    <div class="col-md-4">
        <h5>¿Quienes somos?</h5>
        <p>Somos una floristería con mas de 40 años de experiencia, trabajando con las mejores flores tipo
            exportación,
            para brindar una excelente calidad a nuestros clientes.</p>
    </div>
    <div class="col-md-4">
        <h5>Contáctanos</h5>
        <ul>
            <li>Facebook</li>
            <li>Correo</li>
            <li>Teléfonos</li>
        </ul>
    </div>
</div>

<footer class="footer bg-light" [ngClass]="{'fix': fixearPosicion()}">
    <p class="text-center font-weight-bold">FLORA DEL NORTE © {{ anio }}</p>
</footer>