.cabecera {
  width: 100%;
  height: 180px;
  background: url('../../../assets/img/Cabecera.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.align {
  padding-top: 60px;
}


a:hover {
  color: #df4a64;
}

.header{
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
}
