<div class="header">

    <div class="cabecera">
        <a routerLink="/inicio" routerLinkActive="active"><h1 class="align mb-0">Flora del Norte</h1>
        <h6 class="text-center">Floristería</h6></a>
    </div>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> Ver más 
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav font-weight-bold">
                <a class="nav-item nav-link" routerLink="/inicio" routerLinkActive="active">INICIO</a>
                <a class="nav-item nav-link" routerLink="/nosotros" routerLinkActive="active">CONTÁCTANOS</a>
                <a class="nav-item nav-link" routerLink="/contactanos" routerLinkActive="active">NOSOTROS</a>
            </div>
        </div>
    </nav>
</div>